@model List<Project_Web.Data.Product>
<!-- Products -->
<div class="products">
    <h1>@ViewBag.CategoryName</h1>
    <hr /><br />
    <ul>
        @Html.Partial("../Product/_ProductPartial", Model)
    </ul>
    <!-- End Products -->
</div>