@using Microsoft.AspNetCore.Identity
@using Project_Web.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    
}
else

{
        <a class="but1" id="register" asp-controller="User" asp-action="Register">Register</a>
}

