@using Project_Web.Data



@model Product

<div>
   @* namespace Project_Web.Views.Shared.Partial
@using Project_Web.Data;
@model Project_Web.Data.Product*@



<div>
    <div class="item">
            <img width="150" height="150" src="@Model.Image">

        <p style="text-align:center">@Model.Name</p>
        <span>@Model.Price</span>  <a class ="view" asp-controller="Product" asp-action="Detail" asp-route-id="@Model.Id" >Detail</a>

    <a href="#" class="buy">Buy this Product</a>
    </div>
</div>
</div>