@{
    ViewData["Title"] = "Detail";
}
@*@model List<Project_Web.Data.Product>*@

@*<ul>
	@foreach(var p in Model){
		<li>@p.Name</li>
	}
</ul>*@



<div class="about">
    <img src="~/assets/~/assets/images/title2.gif" alt="" width="191" height="30" /><br />
    <p>Illum secundum exerci erat plaga illum, enim, venio. Tamen causa ut diam torqueo sagaciter inhibeo si quae exerci lobortis. Appellatio vel hos autem, ludus luptatum mauris ratis jugis interdico. Gilvus consequat abico demoveo lenis validus typicus ut commodo. Consequat, eu voco cui eros, euismod quis illum, commodo. Nibh valde tincidunt ex quae ratis meus neo aliquam. Appellatio vel hos autem, ludus luptatum mauris ratis jugis interdico. Gilvus consequat abico demoveo lenis validus typicus ut commodo. Consequat, eu voco cui eros, euismod quis illum, commodo. Nibh valde tincidunt ex quae ratis meus neo aliquam. </p>
    <a href="#">more info</a>
</div>
<div class="news">
    <img src="~/assets/~/assets/images/title3.gif" alt="" width="69" height="30" /><br />
    <p>Illum secundum exerci erat plaga illum, enim, venio. Tamen causa ut diam torqueo sagaciter inhibeo si quae exerci lobortis. Appellatio vel hos autem, ludus luptatum mauris ratis jugis interdico. Gilvus consequat abico demoveo lenis validus typicus ut commodo. Consequat, eu voco cui eros, euismod quis illum, commodo. </p>
</div>




<div id="item">
    <h4>Name Product</h4><br />
    <div class="big_view">
        <img src="~/assets/images/photo.jpg" alt="" width="311" height="319" /><br />
        <span>$99</span>
    </div>
    <div class="scroll">
        <a href="#"><img src="~/assets/~/assets/images/pic1.jpg" alt="" width="62" height="62" /></a>
        <a href="#"><img src="~/assets/images/pic2.jpg" alt="" width="62" height="62" /></a>
        <a href="#"><img src="~/assets/images/pic3.jpg" alt="" width="62" height="62" /></a>
        <a href="#"><img src="~/assets/images/pic4.jpg" alt="" width="62" height="62" /></a>
        <a href="#"><img src="~/assets/images/pic5.jpg" alt="" width="62" height="62" /></a>
        <a href="#"><img src="~/assets/images/pic6.jpg" alt="" width="62" height="62" /></a>
    </div>
</div>
@*<div class="item">
			<img src="~/assets/~/assets/images/item2.jpg" alt="" width="202" height="173" /><br />
			<span>$150</span><a href="index2.html" class="view">View</a><a href="#" class="buy">Buy this Product</a>
		</div>
		<div class="item">
			<img src="~/assets/~/assets/images/item3.jpg" alt="" width="202" height="173" /><br />
			<span>$250</span><a href="index2.html" class="view">View</a><a href="#" class="buy">Buy this Product</a>
		</div>
		<div class="item">
			<img src="~/assets/~/assets/images/item4.jpg" alt="" width="202" height="173" /><br />
			<span>$120</span><a href="index2.html" class="view">View</a><a href="#" class="buy">Buy this Product</a>
		</div>
		<div class="item">
			<img src="~/assets/~/assets/images/item5.jpg" alt="" width="202" height="173" /><br />
			<span>$1255</span><a href="index2.html" class="view">View</a><a href="#" class="buy">Buy this Product</a>
		</div>
		<div class="item">
			<img src="~/assets/~/assets/images/item6.jpg" alt="" width="202" height="173" /><br />
			<span>$215</span><a href="index2.html" class="view">View</a><a href="#" class="buy">Buy this Product</a>
		</div>*@



