@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="text-align:center">

    <h2>Bạn đã mua hàng thành công!</h2>
    <h4>Đơn hàng của bạn đã được lưu thành công!</h4>
    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Tiếp tục mua sắm nào!</a>
</body>